.resume {
  
  font-family: 'museo-slab';
 
  h1, h2, h3, h4, h5, h6 {
    font-family: 'museo-slab';
  }
  
  h1 {
    font-family: 'museo-slab';
    font-size: 1.5rem;
  }

  h2 {
    font-family: 'museo-slab';
    font-size: 0.8rem;
    i {
      margin: 0 0.25rem 0 1rem;
      &.first {
        margin-left: 0;
      }
    }
  }

  .cover-letter {
    padding: 2rem 0 1rem 0;
    font-size: 1.5rem;
    h1 {
      font-size: 5rem;
      font-weight: 700;
      margin: 1rem 0 0 0;
      line-height: 5rem;
    }
    h2 {
      margin: 0 0 2rem 0;
      line-height: 2rem;
      font-size: 1.5rem;
      font-style: italic;
    }
  }

  hr {
    margin-bottom: 0;
  }
  
  .experience {
    > h2 {
      font-size: 2rem;
      font-weight: 700;
      i {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  .description {
    font-size: 0.8rem;
    p, ul, li {
      font-size: inherit;
    }
  }

  > ul, ol {
    margin: 0;
    padding: 0;
  }
  
  .experience {
    > ul {
      margin: 0;
    }
    li {
      &.experience-item {
        list-style: none;
        padding: 0;

      }
    }

    .experience-item {
      list-style: none;
      margin-top: 1rem;
      margin-bottom: 2rem;

      h2 {
        margin-bottom: 1rem;
        font-size: 0.75rem;
        text-shadow: 1px 1px 1px #fff;
      }
    }

    h5 {
      margin: 2rem 0 1rem 0;
    }
    h6 {
      font-weight: 700;
      font-size: 0.8rem;
      color: #333;
      margin-bottom: 0;
    }

    .projects {
      .project {
        border-left: 0.5rem solid #ddd;
        padding: 1rem;
        margin-bottom: 0.5rem;
         background: rgba(255,255,255,0.3); 
      }

      .skills {
        color: #888;
        font-size: 0.8rem;
        text-transform: lowercase;
        font-variant: small-caps;
        margin-bottom: 0;
        .skill {
          i {
            margin-right: 0.25rem;
          }
        }
      }

      ul, ol {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
        }
      }
    }



  }
  
  .skills {
    margin-bottom: 2rem;
    
    > h4 {

      font-family: 'museo-slab';
      font-size: 2rem;
      font-weight: 700;
      
    }

    h6 {
      font-weight: 300;
      color: #444;
    }

    .skill {
      margin-top: 1rem;
    }

    ul, ol {
      margin: 0;
      padding: 0;
      
      li {
        list-style: none;
      }
    }
  }

  .education {
    padding: 1rem 0 1rem 0;
    > h4 {
      font-family: 'museo-slab';
      font-size: 2rem;
      font-weight: 700;
      
    }
      
    ol {
      margin: 2rem 0 0 0 ;
      padding: 0;
      li {
        list-style: none;
        h6 {
          font-weight: 700;
          font-size: 0.9rem;
        }
      }

    }

    .description {
      font-style: italic;
      margin-bottom: 2em;
    }
  }
}
