// @import './bower_components/foundation/scss/foundation.scss'
// @import 'scss/settings.scss'
// @import 'foundation'
// @import 'settings.scss'
// @import 'foundation/scss/foundation.scss'

.tthew-resume {
  font-family: 'museo-slab';
  border-top: 0.33rem solid #ddd;
  background: #efefef;
  text-shadow: 1px 1px 0px #fff;
}

footer {
  text-align: center;
  p {
    margin-bottom: 0;
  }
  margin-bottom: 1rem;
}
